@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 380px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-list-icons {
  display: flex;
  justify-content: flex-end;
}

.header-list-button {
  border: 0;
  outline: none;
  background-color: transparent;
}

.list-icon-frame {
  width: 24px;
  height: 24px;
}

.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  margin-right: 64px;
}

.list-icon-menu {
  width: 24px;
  height: 24px;
}

.header-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20.8413px;
  line-height: 80.5%;
  /* or 17px */
  letter-spacing: 0.274228px;
  text-transform: uppercase;
  width: 111px;
  margin: 0;
  color: #ffffff;
}

.header-logo-svg {
  height: 42px;
  width: 42px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .flex {
    justify-content: flex-start;
  }
}

header {
  padding-top: 58px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1200px) {
  header {
    transform: translateX(0);
    left: 47px;
  }
}

.header-list-li:not(:last-child) {
  margin-right: 29px;
}

.header-nav {
  display: none;
}
@media (min-width: 1200px) {
  .header-nav {
    display: block;
  }
}

.headnav-ul {
  display: flex;
  align-items: center;
}

.headnav-li:not(:last-child) {
  margin-right: 62px;
}

.headnav-a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.explore-h1 {
  /* Explore Indonesia */
  width: 314px;
  left: 30px;
  top: 153px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 58.1515px;
  line-height: 63px;
  /* or 108% */
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 0;
}

.explore-button {
  width: 315px;
  height: 59px;
  /* Автолейаут */
  padding: 10.2px;
  border-radius: 107.63px;
  background: rgb(221, 34, 66);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.title-ul {
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  padding-left: 32px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-top: 37px;
  color: #ffffff;
}

.title-li:not(:last-child) {
  margin-bottom: 32px;
}

.title-a {
  color: rgb(221, 34, 66);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.title-h3 {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 26.41px;
  font-weight: 700;
  line-height: 41.08px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 5px;
}

.title-p {
  color: rgb(147, 147, 147);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.exploreindonesia {
  background-image: url("./../../assets/img/backexpendon.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 153px;
  padding-bottom: 40px;
}

.explore-img {
  margin-left: 30px;
  margin-right: 31px;
}

.nature {
  background: rgb(2, 12, 33);
  opacity: 0.9;
  padding-top: 40px;
  padding-bottom: 44px;
}

.nature-img {
  /* Rectangle 9 */
  width: 314px;
  height: 232px;
  border-radius: 10px;
}

.nature-h2 {
  /* The walkways of Indonesia spellbind */
  width: 314px;
  height: 162.89px;
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: left;
}

.nature-p {
  /* Paragraph */
  width: 315px;
  height: 115.92px;
  color: rgb(224, 224, 224);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.nature-button {
  /* CTA */
  width: 314px;
  height: 72px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: undefined;
  padding: 16px 24px 16px 24px;
  border-radius: 32px;
  background: rgb(221, 34, 66);
}

.nature-li:not(:last-child) {
  margin-bottom: 56px;
}

.secrets {
  background-image: url("../../assets/img/secretsbackimg.webp");
  padding-top: 35px;
  padding-bottom: 696px;
  background-size: cover;
  background-repeat: no-repeat;
}

.secrets-h2 {
  width: 314px;
  height: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(1, 10, 32);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}

.secrets-svg {
  /* Union */
  width: 12px;
  height: 19.55px;
  fill: rgb(2, 11, 32);
}

.secrets-ul {
  display: flex;
  align-items: center;
}

.left {
  margin-right: 11px;
}

.right {
  margin-left: 11px;
}

.secret-img2 {
  display: block;
  margin: 0 auto;
}

.life {
  background-image: url("../../assets/img/lifebackimg.webp");
  padding-top: 83px;
  padding-bottom: 42px;
  background-repeat: no-repeat;
  background-size: cover;
}

.life-h2 {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 70px;
}

.life-img {
  border-radius: 10px;
  margin-bottom: 50px;
  display: block;
  /* image 2 */
  width: 314px;
  height: 192px;
}

.life-img2 {
  /* image 3 */
  width: 314px;
  height: 176px;
  border-radius: 5px;
  display: block;
  margin-bottom: 40px;
}

.life-h3 {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 19px;
}

.life-p {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.life-li:not(:last-child) {
  margin-bottom: 40px;
}

.hills {
  padding-top: 171px;
  padding-bottom: 116px;
}

.hills-h2 {
  /* Our hills and valleys are like nothing you’ve seen. */
  width: 314px;
  height: 184px;
  color: rgb(0, 0, 0);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}

.hills-p {
  /* Paragraph */
  width: 314px;
  height: 120px;
  color: rgb(111, 119, 135);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.hills-button {
  /* CTA */
  width: 314px;
  height: 73px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: undefined;
  padding: 16px 24px 16px 24px;
  border-radius: 122px;
  background: rgb(221, 34, 66);
}

.hills-li:not(:last-child) {
  margin-bottom: 38px;
}

.facts {
  background: rgb(2, 12, 33);
  opacity: 0.9;
  padding-bottom: 61px;
  padding-top: 72px;
}

.facts-h2 {
  /* By The Numbers */
  width: 314px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}

.facts-p {
  /* Paragraph */
  width: 314px;
  height: 167px;
  color: rgb(224, 224, 224);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.factul-h2 {
  color: rgb(221, 34, 66);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}

.factul-p {
  color: rgb(224, 224, 224);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  /* Paragraph */
  width: 314px;
  height: 70.23px;
}

.factul-li:not(:last-child) {
  margin-bottom: 81px;
}

.gallery {
  background: rgb(255, 255, 255);
  padding-top: 32px;
  padding-bottom: 40px;
}

.gallery-h2 {
  /* Photo Gallery */
  width: 314px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(1, 10, 32);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}

.gallery-p {
  /* Paragraph */
  width: 314px;
  height: 160px;
  color: rgb(111, 119, 135);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.getting {
  background: rgb(220, 232, 242);
  padding-top: 29px;
  padding-bottom: 73px;
}

.getting-h2 {
  /* Easy steps */
  width: 260px;
  height: 46px;
  color: rgb(1, 10, 32);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  margin: 0 auto;
}

.circle {
  /* Number */
  width: 56px;
  height: 56px;
  border-radius: 90px;
  background-color: red;
  font-style: "DM sans";
  font-size: 30px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.getting-li {
  text-align: center;
}

.getting-h3 {
  color: rgb(1, 10, 32);
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

.getting-p {
  font-family: Dm Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: grey;
}

.getting-a {
  font-family: Dm Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: red;
}

.getting-li:not(:last-child) {
  margin-bottom: 32px;
}

.footer {
  padding-top: 155px;
  padding-bottom: 84px;
  background-color: #010a20;
}

.footer-h3 {
  font-family: Roboto;
  font-size: 23.96px;
  font-weight: 900;
  line-height: 90.5%;
  letter-spacing: 0.32px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 36px;
  /* Explore Indonesia */
  width: 128px;
  height: 56.75px;
}

.li-a {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 22.94px;
  font-weight: 700;
  line-height: 35.69px;
  letter-spacing: 0.64px;
  text-align: left;
}

.li2-p {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 23.24px;
  font-weight: 700;
  line-height: 36.15px;
  letter-spacing: 0.65px;
  text-align: left;
}

.li2-svg {
  /* Social / Facebook */
  width: 30.99px;
  height: 30.99px;
}

.footer-svg {
  /* flower 1 */
  width: 51px;
  height: 51px;
  fill: #ffffff;
}

.footer-li:not(:last-child) {
  margin-bottom: 36px;
}

.li2-svg {
  fill: #ffffff;
}

.footer-ul2 {
  display: flex;
}

.footer-logo {
  display: flex;
}