.facts {
  background: rgba(2, 12, 33, 1);
  opacity: 0.9;
  padding-bottom: 61px;
  padding-top: 72px;
}
.facts-h2 {
  /* By The Numbers */
  width: 314px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  @media (min-width: 1200px) {
    /* By The Numbers */
    width: 615.36px;
    height: 52.17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 1);

    font-family: DM Sans;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: center;
    // padding-left: 350px;
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
.facts-p {
  /* Paragraph */
  width: 314px;
  height: 167px;
  color: rgba(224, 224, 224, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  @media (min-width: 1200px) {
    /* Paragraph */
    width: 484px;
    height: 102px;
    color: rgba(224, 224, 224, 1);

    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 39px;
    display: block;
    margin: 0 auto;
  }
}
.factul-h2 {
  color: rgba(221, 34, 66, 1);

  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}
.factul-p {
  color: rgba(224, 224, 224, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  /* Paragraph */
  width: 314px;
  height: 70.23px;
}
.factul-li:not(:last-child) {
  margin-bottom: 81px;
  @media (min-width: 1200px) {
    margin-right: 127px;
  }
}
.factul {
  @media (min-width: 1200px) {
    display: flex;
  }
}
