.getting {
  background: rgba(220, 232, 242, 1);
  padding-top: 29px;
  padding-bottom: 73px;
}
.getting-h2 {
  /* Easy steps */
  width: 260px;
  height: 46px;
  color: rgba(1, 10, 32, 1);

  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}
.circle {
  /* Number */
  width: 56px;
  height: 56px;
  border-radius: 90px;
  background-color: red;
  font-style: "DM sans";
  font-size: 30px;
  color: #ffffff;
}
