.header-list-icons {
  display: flex;
  justify-items: flex-end;
}
.header-list-button {
  border: 0;
  outline: none;
  background-color: transparent;
}

.list-icon-frame {
  width: 24px;
  height: 24px;
}

.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  margin-right: 64px;
}

.list-icon-menu {
  width: 24px;
  height: 24px;
}

.header-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20.8413px;
  line-height: 80.5%;
  /* or 17px */
  letter-spacing: 0.274228px;
  text-transform: uppercase;
  width: 111px;
  margin: 0;

  color: #ffffff;
}

.header-logo-svg {
  height: 42px;
  width: 42px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 1200px) {
    justify-content: flex-start;
  }
}

header {
  padding-top: 58px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: 1200px) {
    transform: translateX(0);
    left: 47px;
  }
}
.header-list-li:not(:last-child) {
  margin-right: 29px;
}
.header-nav {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}
.headnav-ul {
  display: flex;
  align-items: center;
  margin-right: 200px;
}
.headnav-li:not(:last-child) {
  margin-right: 62px;
}
.headnav-a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.header-nav {
}
