.life {
  background-image: url("../../assets/img/lifebackimg.webp");
  padding-top: 83px;
  padding-bottom: 42px;
  background-repeat: no-repeat;
  background-size: cover;
}
.life-h2 {
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 70px;
  @media (min-width: 1200px) {
    /* We’ve created the pr */
    width: 1056px;
    height: 142.64px;
    color: rgba(255, 255, 255, 1);

    font-family: DM Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
  }
}
.life-img {
  border-radius: 10px;
  margin-bottom: 50px;
  display: block;
  /* image 2 */
  width: 314px;
  height: 192px;
  @media (min-width: 1200px) {
    /* image 2 */
    width: 1056px;
    height: 594px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 125px;
  }
}
.life-img2 {
  /* image 3 */
  width: 314px;
  height: 176px;
  border-radius: 5px;
  display: block;
  margin-bottom: 40px;
  @media (min-width: 1200px) {
    /* image 2 */
    /* image 3 */
    width: 233px;
    height: 151px;
    border-radius: 5px;
  }
}
.life-h3 {
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 19px;
  @media (min-width: 1200px) {
    /* Fell our design */
    width: 233.14px;
    height: 35.66px;
    color: rgba(255, 255, 255, 1);

    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
  }
}
.life-p {
  opacity: 0.7;
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  @media (min-width: 1200px) {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);

    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: left;
  }
}
.life-li:not(:last-child) {
  margin-bottom: 40px;
}
.life-ul {
  @media (min-width: 1200px) {
    display: flex;
  }
}
