.secrets {
  background-image: url("../../assets/img/secretsbackimg.webp");
  padding-top: 35px;
  padding-bottom: 696px;
}
.secrets-h2 {
  width: 314px;
  height: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(1, 10, 32, 1);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}
.secrets-svg {
  /* Union */
  width: 12px;
  height: 19.55px;
  fill: rgba(2, 11, 32, 1);
}
.secrets-ul {
  display: flex;
  align-items: center;
}
.left {
  margin-right: 11px;
}
.right {
  margin-left: 11px;
}
.secret-img2 {
  display: block;
  margin: 0 auto;
}
